{% resource 'likes/javascript/modules/like.js' %}
{% resource 'likes/javascript/modules/likes-counter.js' %}


{% ckan_extends %}

{% block package_info_inner %}
{{ super() }}

{% block like_button %}
            {% if c.user %}
            {% set has_liked_dataset = h.likes_has_liked_dataset(pkg.id)%}
            {% set dataset_likes_counter = h.likes_dataset_likes_counter(pkg.id) %}
            <div>
                <dl>
                <dt>{{ _('Likes') }}</dt>
                <dd data-module="likes-counter"
                    data-module-id="{{ pkg.id }}"
                    data-module-num_likes="{{dataset_likes_counter}}" > {{h.SI_number_span(dataset_likes_counter)}}
                </dd>
                </dl>
            </div>
            {{ has_liked_dataset }}
            {% if has_liked_dataset %}
                <div class="follow_button">
                <button class="btn btn-danger" 
                        data-module="like"
                        data-module-action="dislike"
                        data-module-type="dataset"
                        data-module-id="{{ pkg.id }}"><i class="fa fa-times-circle"></i>{{_("Dislike")}}</button>
                </div>
            {% else %}
                <div class="follow_button">
                <button class="btn btn-success" 
                        data-module="like"
                        data-module-action="like"
                        data-module-type="dataset"
                        data-module-id="{{ pkg.id }}"><i class="fa fa-plus-circle"></i>{{_("Like")}}</button>
                </div>
            {% endif %}
            {% endif %}
        {% endblock %}
{% endblock %}